body {
    margin: 10%;
}

.header {
    text-align: center;
}

.picture-grid {
    height: 40vh;
    gap: 50px;
}

.caption {
    gap: 50px;
   
}


.tile {
    background-image: url("/assets/scott-graham-5fNmWej4tAA-unsplash.jpg");
    background-size: cover;
}


.img-caption {
    padding: 15px;
    background-color: #d99a11;
    box-shadow: -15px 10px 2px rgba(0,0,0, 0.5);
}

.img-caption:hover {
    opacity: 0.6;
    transition: 2s;
    box-shadow: -20px 10px 5px black;
}

.img-caption-hover {
    opacity: 0.6;
    transition: 2s;
    box-shadow: -20px 10px 5px black;
}



.earwig {
    background-image: url("/assets/skyler-ewing-iihXxKsE4og-unsplash.jpg");
    background-size: cover;
    height: 40vh;
}

.row {
    column-gap: 20px;
}

.blurred {
    filter:blur(4px);
    transition: 1s;
}