body {
    margin: 10%;
}


.picture-grid {
    height: 40vh;
    gap: 15px;
}

.caption {
    gap: 15px;
   
}


.tile {
    background-image: url("/assets/scott-graham-5fNmWej4tAA-unsplash.jpg");
    background-size: cover;
}


.img-caption {
    background-color: gray;
    box-shadow: -15px 10px 5px black;
}

.img-caption:hover {
    opacity: 0.6;
    transition: 2s;
    box-shadow: -20px 10px 5px black;
}

.img-caption-hover {
    opacity: 0.6;
    transition: 2s;
    box-shadow: -20px 10px 5px black;
}